.form-search{
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.form-search input{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000;
    padding: 10px 0 10px 25px;
    border: none;

    border-bottom: 1px solid rgba(0,0,0,.1);
}
.form-search input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7;
}
.form-search button{
    position: absolute;
    left: 22px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #C2CFE0;
}